spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/order_processor
    username: appuser
    password: apppass

  jpa:
    hibernate:
      ddl-auto: validate
    show-sql: false

  flyway:
    enabled: true
    baseline-on-migrate: true

  kafka:
    bootstrap-servers: localhost:9092

    consumer:
      group-id: order-processor-group
      auto-offset-reset: earliest

  jackson:
    serialization:
      write-dates-as-timestamps: false

kafka:
  topics:
    order-events: order-events
